.entry {
	/*background: #FDFDFD;
	border-color: black;
	border-style: solid;
	border-width: 1px;*/
}
.entry_title {
	background: #e3e3e3;
	border-radius: 5px;
	padding: 3px 10px;
	margin: 0px;
}
.entry_body {
	padding: 8px;
	line-height: 1.6;
}
.meta {
	display: block;
	background: #F6F6F6;
	padding: 10px;
	margin: 10px 0 5px 0;
}

