{%extends "base.html"%}
{%block content%}
{%if entries%}

{% for entry in entries %}
<div class="span-17 box entry">
	<div class="entry_title"><a href="/{{entry.link}}">{{entry.title}}</a>
		<div class="right">{{entry.date|datetz:"F jS, Y"}}</div>
	</div>
	<div class="entry_body">{{entry.content_excerpt}}</div>
	<!--div class="meta">comments: {{entry.commentcount}}
	{% if entry.strtags %} | Tags: {%for tag in entry.tags%}{{tag}} {%endfor%}{%endif%} </div-->
</div>
{%endfor%}

{%else%}
<p> not found </p>

{%endif%}
{%endblock%}
